<!-- Imagem da receita -->
<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<!-- Nome da receita -->
<div class="row">
    <div class="col-xs-12">
        <h1><b>Recipe Name</b></h1>
    </div>
</div>
<!-- Menu de opções -->
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <!-- Dropdown -->
            <button type="button" 
            class="btn btn-primary dropdown-toggle">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Add Ingredients to Shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Descrição da receita -->
<div class="row">
    <div class="col-xs-12">
        Description
    </div>
</div>
<!-- Ingredientes -->
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>